<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>K08jQuery</display-name>
  
    <!-- 네이버 검색 api연동하기 -->
  <servlet>
  	<servlet-name>NaverSearchAPI</servlet-name>
  	<servlet-class>controller.NaverSearchAPI</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>NaverSearchAPI</servlet-name>
  	<url-pattern>/NaverSearchAPI.do</url-pattern>
  </servlet-mapping>
  
  <!-- 게시판 페이지처리(PAGING)관련 파라미터
	PAGE_SIZE: 한 페이지에 출력할 게시물의 갯수. 보통 10-30 정도로 설정한다
	BLOCK_PAGE: 한 블록당 출력할 페이지번호의 갯수. 보통 5-10정도로 설정한다.
 -->  
  <context-param>
  	<param-name>PAGE_SIZE</param-name>
	<param-value>10</param-value>
  </context-param>
  
  <context-param>
  	<param-name>BLOCK_PAGE</param-name>
	<param-value>5</param-value>
  </context-param>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list> 
</web-app>